body{
    margin: 0;
    padding: 0;
    font-family: "calibri";
    height: 100%;
}

.header{
    height: 20%;
    background-color: rgb(100, 150, 150);
    text-align: center;
}
.menu{
    padding-top: 3.5%;
    color: white;
    font-size: 30px;
    font-family: "Lucida Calligraphy", "Pristina", sans-serif;
}
.self{
    float: left;
    width: 25%;
}
.prj_skil{
    float: left;
    width: 25%;
}
.edu{
    float: left;
    width: 25%;
}

.main{
    flex: 1;
    height: 100%;
}

.main_left{
    flex: 1;
    float: left;
    width: 72%;
    margin: 10px;
}

.coverletter{
    margin-left: 5%;
    padding-top: 20px;
    padding-right: 50px;
    margin-bottom: 10%;
    font-family: "Adobe Hebrew";
}
.coverletter:first-letter{
    font-size: 72px;
    float: left;
    padding: 10px;
    height: 64px;
    margin-right: 10px;
    color:  rgb(100, 150, 150);
    border-radius: 5px;
    line-height: 70px;
}
.coverletter:first-line{
    font-size: 24px;
    font-weight: bold;
    font-family: "Lucida Calligraphy", "Pristina", sans-serif;
}

.projects_skill{
    float: left;
    color:  rgb(100, 150, 150);
    padding-left: 5%;
    padding-bottom: 3%;
    font-family: "Lucida Calligraphy", "Pristina", sans-serif;
    font-size: 40px;
    height: 50px;
}
.list{
    float: left;
    width: 100%;
    margin-left: 10%;
    font-family: "Adobe Hebrew";
    /* margin-bottom: 30px; */
}
.projects{
    float: left;
    width: 40%;
}
.skill{
    float: left;
    width: 50%;
}

.edu-title{
    float: left;
    color:  rgb(100, 150, 150);
    padding-left: 5%;
    padding-bottom: 3%;
    font-family: "Lucida Calligraphy", "Pristina", sans-serif;
    font-size: 40px;
    height: 50px;

}
table{
    border: 0px transparent;
    border-collapse: collapse;
    border-color: transparent;
    float: center;
    text-align: center;
    line-height: 1.5;
    /* border-top: 1px solid #ccc; */
    /* border-left: 3px solid #369; */
    /* margin: 20px 10px; */
    margin-right: 10px;
    width: 900px;
    /* margin-top: 15%; */
    margin-left: 10%;
}

table th{
    font-weight: bold;
    padding: 10px;
    vertical-align: top;
    color: #153d73;
    width: 170px;
    /* border-right: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; */
}

table td{
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
}

.logo{
    background-color: gray;
    width: 10px;
    vertical-align: center;
}
.addr{
    font-size: 13px;
    font-style: italic;
}

.status{
    color: #153d73;
    font-style: italic;
}

.questions{
    margin-top: 20px;
    margin-bottom: 30px;;
    float: left;
    font-family:  "Adobe Hebrew";
}

.question{
    float: left;
    color:  rgb(100, 150, 150);
    width: 100%;
    margin-top: 20px;
    padding-left: 5%;
    padding-bottom: 3%;
    font-family: "Lucida Calligraphy", "Pristina", sans-serif;
    font-size: 40px;
    height: 50px;
}

.Q1{
    text-align: center;
    margin-left: 10%;
    flex:l;
    width:18%;
    margin-right : 100px;
    display: inline-block;
}
.Q2{
    text-align: center;
    flex:1;
    width:18%;
    margin-right : 100px;
    display: inline-block;
}
.Q3{
    text-align: center;
    flex:1;
    width:18%;
    margin-right : 100px;
    display: inline-block;
}

.answer1{
    visibility: hidden;
}

.answer2{
    visibility: hidden;
}

.answer3{
    visibility: hidden;
}
.main_right{
    flex: 1;
    width: 25%;
    height: 160%;
    float: right;
    text-align: center;
    background-color: rgb(100, 150, 150);
    color: white;
}
.myphoto{
    margin-top: 10%;
}

.pht{
    width: 50px;
    margin: 5px;
    flex:1;
    display: inline-block;
}

.pht:hover{
    border: 3px solid rgb(230, 230, 250);
    margin: 1px;
}


.name h2{
    font-family: "Adobe Caslon Pro";
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px;
}

.contact{
    font-family: "Adobe Caslon Pro";
    font-size: 20px;
}

.planguages{
    font-family: "Adobe Caslon Pro";
    font-size: 15px;
}

.websites{
    margin-top: 20px;

}

.design{
    margin-top: 20px;    
}
.tail{
    width: 100%;
    height: 5%;
    font-family: "calibri";
    font-size: 12px;
    display: flex;
}

.fst{
    text-align: center;
    flex:l;
    width:33%;
    display: inline-block;
    /* font-family: "calibri"; */
}
.snd{
    text-align: center;
    flex:1;
    width:33%;
    display: inline-block;
    /* font-family: "calibri"; */
}
.trd{
    text-align: center;
    flex:1;
    width:33%;
    display: inline-block;
    /* font-family: "calibri"; */
}